perf_analysis/ext/
perf_analysis/sim_scripts/run_scripts/
perf_analysis/build/
perf_analysis/cputraces
perf_analysis/run.sh
perf_analysis/ramulator2
# Ignore everything in perf_analysis/results/
perf_analysis/results/*

# But do not ignore the csvs/ and plots/ directories
!perf_analysis/results/csvs/
!perf_analysis/results/plots/
!perf_analysis/results/sample_results/

# Ensure that the contents of the csvs/ and plots/ directories are tracked
!perf_analysis/results/csvs/**
!perf_analysis/results/plots/** 
!perf_analysis/results/sample_results/**

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
